# Configuración de Entorno HemoVida para Oracle Cloud
DATABASE_URL=postgresql://postgres.[PROJECT_REF]:[PASSWORD]@[HOST]:6543/postgres?sslmode=require
SECRET_KEY=django-insecure-hemovida-oci-prod-2026
DEBUG=False
ALLOWED_HOSTS=*
PORT=8000
